@font-face {
    font-family: 'new';
    src: url("../img/new2.ttf");
}
body, html {
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Microsoft YaHei UI";
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    overflow:hidden;
    margin: 0;
    transform-origin: left top;
    -webkit-transform-origin: left top;
    height: 100%;
    padding: 0;
}
@keyframes scroll{
    0%{
        transform:translate(0px);
    }
    25%{
        transform:translate(-299px);
    }
    50%{
        transform:translate(-598px);
    }
    100%{
        transform:translate(-897px);
    }
}
.title{
    font-weight: bold;
    font-family: new;
    font-size: 87px;
    color: red;
position: absolute;
    left:2245px;
    top:35px;
}
.alert{
    color: white;
    font-size: 40px;
    position: absolute;
    width: 985px;
    height: 231px;
    left: 260px;
    top:530px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.alert-c{
    text-align: center;
    padding-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   /* border-bottom-width: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;*/
}
.fh{
    position: absolute;
    width: 2150px;
    height: 673px;
    left:1485px;
    top:332px;

    font-size: 50px;
    color:white;
}
.fh_data{
    font-size: 40px;
}
.fh-h{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1100px;
    height: 65px;
    left: 870px;
    top:40px;
}
.t-data{
    position: absolute;
    top:140px;
    left: 1352px;
    width: 744px;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.y-data{
    position: absolute;
    top:420px;
    left: 1352px;
    width: 744px;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dd{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #b7ab00;
}
.dt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fz{
    position: absolute;
    left:305px;
    top:1215px;
    width: 1425px;
    height: 800px;
}
.fz-bt{

    position: absolute;
    width: 250px;
    left: 30px;
    top:45px;

}
/*.aui-bar-btn-item{
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;border-width: 5px
}*/
.fz-data{
    padding-left: 80px;
    font-size: 30px;
    text-align: center;font-weight: bold;
}
.fz-bott{
    position: absolute;

    top:200px;
    width: 1412px;
    height: 600px;
}
.fz-1{

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;
    display: flex;
    flex-direction: row;

}
.tab-btn{


    font-weight: bold;
    border-radius: 10px;border-width: 5px
}
.energy-bullet{
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #55a0fb;
    border-radius: 2px;
    background-color: #0d1f47;
    color: #2485e4
}
.energy-bullet-active{
    color: white;
    background-color:#2485e4 ;

}
.top-name{
position: relative;
    margin-top: 5px;
    margin-left:15px;
    color: #2485e4;
}
.bot-name{

    color: white;
}
.fz-pro {
    left: 20px;
    top: 10px;
    z-index: 2;
}

.state{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left:2117px;
    top:1362px;
width: 1475px;
    height: 617px;
}
.s-tb{
    padding-top: 5px;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

